html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

body {
	margin: 0px;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
}

#threejscontainer {
	cursor:grab;
}