@page "/earthquakes"

@using ReykjanesRidge.Models.Dtos;
@using ReykjanesRidge.Services.Implementations;
@inject IJSRuntime JSRuntime
@inject EarthquakeService EarthquakeService;

<div id="threejscontainer" style="width: 100%; height: 100%;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>(
                "import", "./Pages/Earthquakes.razor.js");

            await JSRuntime.InvokeVoidAsync("EarthquakeVisualizerJS.load");
        }

        var earthquakes = await EarthquakeService.GetAll();
        
        foreach (var earthquake in earthquakes)
        {
            await AddEarthquake(earthquake);
        }

        //await AddEarthquake(await EarthquakeService.GetOne());
    }

    public async Task AddEarthquake(EarthquakeDto earthquakeDto)
    {
        await JSRuntime.InvokeVoidAsync("EarthquakeVisualizerJS.addEarthquake", earthquakeDto);
    }
}
