::deep li {
    color:white !important;
}

#controls {
    min-width: 350px !important;
    background-color: rgba(0,0,0,0.5) !important;
    overflow: hidden !important;
}

::deep div.earthquakeInfo {
    padding-left: 35px;
    border-top: 1px solid white;
    border-image: linear-gradient(); /* to top - at 50% transparent */
    border-image-slice: 1;
}

::deep table.earthquakeInfo {
    color: white;
    font-size: 10px;
    line-height: 0.6em;
    border-left: 1px solid white;
}

::deep table.earthquakeInfo tbody {
    border: 5px white !important;
}

::deep table.earthquakeInfo tr {
    margin:0px 0px 0px 0px !important;
}

::deep table.earthquakeInfo td {
    padding-top:-5px;
}

::deep #earthquakeVisualizer {
    cursor:grab !important;
}

.controls 
{
    z-index:3;
    right:0px;
    position:absolute !important;
    padding:10px;
}

#topControls {
    top: 0;
}

#bottomControls {
    bottom:0;
}

::deep .ui.icon.button {
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 5px !important;
    margin: 0;
}

#filterInfo {
    position:absolute;
    display:block;
    width:100%;
    z-index:4;
    bottom:0;
    color:white;
    text-align:center;
}

::deep #infoModal {
    background-color:rgba(0,0,0,0.5);
}
